<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>时区设置</title>
</head>
<body>
<form method="post" id="tzForm" th:action="@{/timeZone/tzValueHandler}">
    <input id="tzInput" type="hidden" name="timeZoneOffset"><br>
    <input type="hidden" name="requestedUrl" th:value="${requestedUrl}">
</form>

<script>
    var date = new Date();
    var offSet = date.getTimezoneOffset();
    document.getElementById("tzInput").value = offSet;
    document.getElementById("tzForm").submit();
</script>
</body>
</html>