<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javaliu.modules.transaction.mapper.UserMapper">
    <resultMap id="user" type="com.javaliu.modules.transaction.entity.User">
        <id column="id" property="id" jdbcType="INTEGER"></id>
        <result column="code" property="code" jdbcType="VARCHAR"></result>
        <result column="name" property="name" jdbcType="VARCHAR"></result>
    </resultMap>
    <sql id="all_user_column">
        id, code, name
    </sql>

    <insert id="insertOne" parameterType="com.javaliu.modules.transaction.entity.User">
        INSERT INTO sys_user (code, name) VALUES (#{code}, #{name})
    </insert>

    <update id="update" parameterType="com.javaliu.modules.transaction.entity.User">
        UPDATE sys_user SET code = #{code}, name = #{name} WHERE id = ${id}
    </update>
</mapper>
